# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
backend/env/
backend/static/uploads/

# Flutter
frontend/.dart_tool/
frontend/.idea/
frontend/build/
frontend/.packages
frontend/pubspec.lock

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log